<div *ngFor="let empresa of empresa$ | async" class="card">
  <div class="card-vagas">
      <div class="card-body">
        <h5 class="card-text">{{ empresa.id }}</h5>
        <h5 class="card-text">{{ empresa.nome }}</h5>
        <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(empresa)">
          Remover
        </button>
        <button class="btn btn-outline-warning mb-1 btn-sm"
        [routerLink]="['/editar/', empresa.id]">
          Atuaizar
        </button>
      </div>
  </div>
</div>
